* {
   font-family: 'Roboto', sans-serif;
}

body {
   padding: 20px;
}

a {
   display: block;
   margin-bottom: 10px;
   text-decoration: none;
   color: #007bff;
   font-weight: bold;
}

a:hover {
   text-decoration: underline;
}

form {
   margin-top: 20px;
   max-width: 400px;
}

label {
   display: block;
   margin-bottom: 8px;
}

button {
   padding: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   cursor: pointer;
}
